<h2 mat-dialog-title>Create New Product</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>SKU</mat-label>
      <input matInput formControlName="sku">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Store</mat-label>
      <mat-select formControlName="storeId">
        @for (store of data.stores; track store) {
          <mat-option [value]="store.id">{{ store.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!productForm.valid">Create</button>
</mat-dialog-actions>
