.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
}

header {
  flex-shrink: 0;
  z-index: 10;
  background-color: #e0f7fa;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

header app-search-bar {
  flex-grow: 1;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 16px;
  min-height: 0; /* Prevents the main content from shrinking unexpectedly */
}

footer {
  flex-shrink: 0;
  z-index: 10;
  background-color: #e0f7fa;
}
